<div class="row">
	<div class="col text-center">
		<h3> Radar Chart </h3>
		<p> This is a component using an addon </p>
		{{ember-chart type='pie' data=chartModel}}
	</div>
	<div class="col text-center">
		<h3> Bar Chart </h3>
		<p> This is a component using an addon </p>
		{{ember-chart type='bar' data=chartModel}}
	</div>
	<div class="col text-center">
		<h3> Polar Chart </h3>
		<p> This is a component using an addon </p>
		{{ember-chart type='polarArea' data=chartModel}}
	</div>
	<div class="col text-center">
		<h3> Doughnut Chart </h3>
		<p> This is a component using an addon </p>
		{{ember-chart type='doughnut' data=chartModel}}
	</div>
</div>

