<div class="row">
  <div class="col-md-6 offset-md-3">
    <table class="table table-sm table-hover">
      <thead>
        <tr>
          <th scope="col">User Invited</th>
          <th scope="col">Status</th>
        </tr>
      </thead>
      <tbody>
        {{#each items as |invite|}}
        <tr>
          <td> <small>{{invite.user}}</small> </td>
          <td> <strong>{{invite.status}}</strong> </td>
        </tr>
        {{/each}}
      </tbody>
    </table>
  </div>
</div>
