<div class="container">
	<div class="row">
		<div class="col-sm">
		</div>
		<div class="col-sm">
			<br><br>
			<div class="card text-center">
				<div class="card-header">
				 User Detail
				</div>
				<div class="card-body">
					<img src="http://icons.iconarchive.com/icons/sicons/basic-round-social/512/ember-js-icon.png" width="50%"/><br><br>
					<span class="badge badge-secondary">Full Name</span><br>
					<h5 class="card-title">{{model.fullname}}</h5>
				</div>
				<ul class="list-group list-group-flush">
					<li class="list-group-item">
						<span class="badge badge-secondary">Username</span><br>
						{{model.username}}
					</li>
					<li class="list-group-item">
						<span class="badge badge-secondary">Rol</span><br>
						{{model.rol}}
					</li>
				</ul>
				<div class="card-footer text-muted">
					Ember Workshop Basic
				</div>
			</div>
		</div>
		<div class="col-sm">
		</div>
	</div>
</div>

