<div class="text-center">
  <br><h2> Invites </h2>
  <p>We are going to show all invites.</p><br>
</div>

<div class="row">
  <div class="col-md-6 offset-md-3">
    <table class="table table-sm table-hover">
      <thead>
        <tr>
          <th scope="col">User Invited</th>
          <th scope="col">Date</th>
          <th scope="col">Status</th>
        </tr>
      </thead>
      <tbody>
        {{#each model as |invite|}}
        <tr>
          <td> {{invite.user}} </td>
          <td> {{invite.dateCreated}} </td>
          <td> {{invite.status}} </td>
        </tr>
        {{/each}}
      </tbody>
    </table>
  </div>
</div>
