
<br><br>

<div class="text-center">
		<br><h2> Dashboard </h2>
		<p> Dashboard made with components </p>
		<br><br><br>
</div>

<div class="row">
	<div class="col text-center">
		<h3> Ember JS </h3>
		<p> hello world! </p>
	</div>
	<div class="col text-center">
		<h3> Invites List </h3>
		<p> This is a component using an addon </p>
		{{invites-table items=model.invites}}
	</div>
</div>

{{dashboard-invites invites=model.invites}}
