
<br><br>

<div class="text-center">
		<br><h2> Dashboard </h2>
		<p> Dashboard made with components </p>
		<br><br><br>
</div>

<div class="row">
	<div class="col text-center">
		<h3> Ember JS </h3>
		<p> hello world! </p>
		<img src="https://pbs.twimg.com/profile_images/919966493852528640/ySOaS3zQ_400x400.jpg" width="50%"/>
	</div>
	<div class="col text-center">
		<h3> Invites List </h3>
		<p> This is a component using an addon </p>
		{{invites-table items=model.invites}}
	</div>
</div>
<br>
{{dashboard-invites invites=model.invites}}
