
<br><br>

<div class="text-center">
		<br><h2> Dashboard </h2>
		<p> Dashboard made with components </p>
		<br><br><br>
</div>

<div class="row">
	<div class="col text-center">
		<img src="https://pbs.twimg.com/profile_images/919966493852528640/ySOaS3zQ_400x400.jpg" width="20%"/>
		<h3> Ember JS </h3>
		<p> hello world! </p>
	</div>
	<div class="col text-center">
    <img src="https://spin.atomicobject.com/wp-content/uploads/Ember-logo.png" width="30%"/><br><br>
		<h3> Invites Bars </h3>
		<p> This is a component using an addon </p>
	</div>
</div>
