<div class="text-center">
  <h2>Welcome to the Ember Basic Workshop</h2>
  <img src="http://techminds.com.mx/wp-content/uploads/2016/06/Logo-Makingdevs-square-big-300x300.png"/>
  <h3> Powered by Making Devs </h3>
  <strong> 2018 </strong><br><br>
	<a href="https://github.com/carlogilmar/Ember-Basic-Workshop" class="btn btn-secondary btn-sm"> Visit Public Repo on Github </a><br>
	<br>
	<a href="https://carlogilmar.gitbooks.io/ember-workshop/content/" class="btn btn-primary btn-sm"> Workshop Docs </a><br>
	<br>
  <div class="alert alert-primary" role="alert">
    I'am the index route!
  </div>
</div>
