<div class="text-center">
  <h3> Invite Module </h3>
  <img src="http://techminds.com.mx/wp-content/uploads/2016/06/Logo-Makingdevs-square-big-300x300.png"/>
  <div class="alert alert-success" role="alert">
    I'am the invite-module route!
  </div>
</div>
