<div id="app" class="container">
	<nav class="navbar navbar-expand-lg navbar-light bg-faded">
		{{#link-to 'statics-module' class="navbar-brand"}} Dashboard {{/link-to}}
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div id="navbarNavDropdown" class="navbar-collapse collapse">
			<ul class="navbar-nav">
				<li class="nav-item">
					{{#link-to 'statics-module.info' class="nav-link"}} Info about Invites {{/link-to}}
				</li>
				<li class="nav-item">
					{{#link-to 'statics-module.chart' class="nav-link"}} Chart {{/link-to}}
				</li>
			</ul>
		</div>
	</nav>
</div>

{{outlet}}

